<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Vsemayki{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
    <div class="root">
        <div class="main-box">
            {% block main_box %}
            <div class="logo">
                <img src="http://www.vsemayki.ru/media/img/logo@x2.png?v=40" alt="logo" title="logo">
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bower/jquery/dist/jquery.js') }}"></script>
{% endblock %}
</body>
</html>
