.base-form {
    width: 70%;
    position: relative;
}

.base-form div label {
    display: block;
    font-size: 1.4em;
    cursor: pointer;
    color: #ec008c;
}

.base-form div input {
    width: 100%;
    outline: none;
    padding: 5px 3px;
    font-size: 1.1em;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #00aeef;
}

.base-form .btn {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #00aeef;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    float: right;
}

.base-form .btn:hover {
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.base-form .btn:active {
    box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    background-color: #ec008c;
}

.notice {
    padding: 6px;
    margin: 5px 0;
    width: 70%;
    box-sizing: border-box;
    display: none;
}

.notice.success {
    border: 2px solid #62c3a5;
}

.notice.bad {
    border: 2px solid #ec5b5b;
}