html, body {

    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

.root {
    width: 900px;
    margin: auto;
}

.main-box {
    margin: 100px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px
}

.logo {
    margin: 15px 0;
}

.logo > img {
    display: inline-block;
    width: 500px;
    height: auto;
}