{% extends 'VsemaykiTestBundle::layout_bundle.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/vsemaykitest/css/form.css') }}">
{% endblock %}

{% block main_box %}
    {{ parent() }}

    <div class="notice bad" style="display: block">
        <div class="title">Что-то не так</div>
        <div class="msg">Данного url нет в базе =(</div>
        <div class="msg"><a href="{{ path('vsemayki_test_homepage') }}">Создать новую ссылку</a></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}