{% extends 'VsemaykiTestBundle::layout_bundle.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/vsemaykitest/css/form.css') }}">
{% endblock %}

{% block main_box %}
    {{ parent() }}

    {{ form_start(form, {'action': path('vsemayki_test_homepage'), 'method': 'POST', 'attr': {'class': 'base-form'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.url, {'label': 'Скопировать ссылку сюда'}) }}

    {{ form_rest(form) }}

    <div class="btn submit" path="{{ path('vsemayki_test_homepage') }}">
        Укоротить
    </div>

    {{ form_end(form) }}

    <div class="notice success">
        <div class="title">Ваша короткая ссылка:</div>
        <div class="msg"></div>
    </div>

    <div class="notice bad">
        <div class="title">Что-то не так</div>
        <div class="msg"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/vsemaykitest/js/form_handler.js') }}"></script>
{% endblock %}